[defaults]
inventory = inventory-vpro.txt
host_key_checking= False
forks = 5
log_path = ./ansible.log

[previlege_escalation]
become = yes
become_method = sudo
become_user = root
become_pass = False

[ssh_connection]
retries = 2